@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    /*border: 1px solid red;*/
}

.navbar {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;

}

.logo-text {
    font-weight: 700;
    font-size: 24px;
    color: #048dc4;
}

.medicine-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .medicine-form .box {
    min-width: 760px;
    width: 960px;
    /*padding: 15px;*/
    /*height: 300px;*/
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.main .medicine-form .box-nd {
    min-width: 760px;
    width: 960px;
    height: 400px;
    /*padding: 15px;*/
    /*height: 300px;*/
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.main .medicine-form .box .block-st{
    width: 100%;
    /*height: 30px;*/
}

.main .medicine-form .box .block-nd{
    /*font-weight: 400;*/
}

.search-m,
.search-wm {
    width: 440px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info .info-m,
.info .info-wm {
    width: 440px;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /*display: flex;*/
}

.info .info-m span,
.info .info-wm span {
    /*display: block;*/
    font-weight: 700;
    margin-right: 10px;
}

.info-m .text,
.info-wm .text{
    display: flex;
}

.err {
    border: 1px solid red;
    /*box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.45);*/
}

.succ {
    border: 1px solid #1cb841;
    /*box-shadow: 0 0 0 0.25rem rgba(0, 180, 0, 0.65);*/
}


.header-right{
    display: flex;
    align-items: center;
        position: relative;
    z-index: 999;
}
.header-lang{
}
.header-lang .dropdown-toggle{
    width: 36px;
    height: 36px;
    border: 1px solid #0096db;
    background-color: transparent;
    text-transform: capitalize;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0096db;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    outline: none;
    box-shadow: none;
}
.header-lang .dropdown-toggle::after{
    display: none;
}
.header-lang .dropdown-menu{
    background: transparent;
    border: none;
    left: 1px!important;
}
.header-lang .dropdown-item{
    width: 36px;
    height: 36px;
    border: 1px solid #0096db;
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0096db;
    text-transform: capitalize;
    color: #0096db;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    outline: none;
    box-shadow: none;
    margin-bottom: 3px;
}