{% extends 'base_client.html' %}
{% load i18n %}

{% block main %}
    <div class="bg"></div>
    <div class="main">
        <form class="medicine-form container px-5">
            <div class="box my-5 p-4">
                <div class="block-st mb-3 d-flex justify-content-around">
                    <div class="img-m">
                        <img id="pic1" src="../../static/images/male-gender.png" width="30">
                    </div>
                    <div class="img-wm">
                        <img id="pic2" src="../../static/images/femenine.png" width="30">
                    </div>
                </div>
                <div class="block-nd d-flex justify-content-between">
                    <div class="search-m me-3">
                        <div class="mb-3">
                            <input id="jshshir1" type="text" class="form-control" maxlength="14" placeholder="JSHSHR"
                                   required>
                        </div>
                    </div>
                    <div class="search-wm">
                        <div class="mb-3">
                            <input id="jshshir2" type="text" class="form-control" maxlength="14" placeholder="JSHSHR"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="info-m">
                        <div class="text">
                            <span>Familiyasi: </span>
                            <div id="surname_name1"></div>
                        </div>
                        <div class="text">
                            <span>Ismi: </span>
                            <div id="given_name1"></div>
                        </div>
                        <div class="text">
                            <span>Otasining ismi: </span>
                            <div id="father_name1"></div>
                        </div>
                        <div class="text">
                            <span>Millati: </span>
                            <div id="nationality1"></div>
                        </div>
                        <div class="text">
                            <span>Tug'ilgan sanasi: </span>
                            <div id="date_of_birth1"></div>
                        </div>
                        <div class="text">
                            <span>Tug'ilgan joyi: </span>
                            <div id="place_of_birth1"></div>
                        </div>
                        <div class="text">
                            <span>Genetik holati: </span>
                            <div id="genetics1"></div>
                        </div>
                    </div>
                    <div class="info-wm">
                        <div class="text">
                            <span>Familiyasi: </span>
                            <div id="surname_name2"></div>
                        </div>
                        <div class="text">
                            <span>Ismi: </span>
                            <div id="given_name2"></div>
                        </div>
                        <div class="text">
                            <span>Otasining ismi: </span>
                            <div id="father_name2"></div>
                        </div>
                        <div class="text">
                            <span>Millati: </span>
                            <div id="nationality2"></div>
                        </div>
                        <div class="text">
                            <span>Tug'ilgan sanasi: </span>
                            <div id="date_of_birth2"></div>
                        </div>
                        <div class="text">
                            <span>Tug'ilgan joyi: </span>
                            <div id="place_of_birth2"></div>
                        </div>
                        <div class="text">
                            <span>Genetik holati: </span>
                            <div id="genetics2"></div>
                        </div>
                    </div>
                </div>
                <div class="block-btn d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Start</button>
                </div>
            </div>
            <div class="box-nd mb-5"></div>
        </form>
    </div>
    <script>
        {#    ----------1----------    #}
        const surname_name1 = document.getElementById('surname_name1');
        const given_name1 = document.getElementById('given_name1');
        const father_name1 = document.getElementById('father_name1');
        const nationality1 = document.getElementById('nationality1');
        const date_of_birth1 = document.getElementById('date_of_birth1');
        const place_of_birth1 = document.getElementById('place_of_birth1');
        const genetics1 = document.getElementById('genetics1');
        const pic1 = document.getElementById('pic1');

        {#console.log("rgegr")#}
        const input_jshshir1 = document.getElementById('jshshir1');

        input_jshshir1.addEventListener('change', updateValue1);
        console.log(input_jshshir1)

        function updateValue1(e) {

            let jshshir1 = e.target.value
            let formData = new FormData();
            formData.append("jshshir", jshshir1);

            let url = "{% url 'main:get_person' %}";

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                processData: false,
                contentType: false,
                method: 'POST',
                data: formData,
                success: function (data) {
                    console.log(data)
                    surname_name1.innerHTML = data.surname_name;
                    given_name1.innerHTML = data.given_name;
                    father_name1.innerHTML = data.father_name;
                    nationality1.innerHTML = data.nationality;
                    date_of_birth1.innerHTML = data.date_of_birth;
                    place_of_birth1.innerHTML = data.place_of_birth;
                    genetics1.innerHTML = data.genetics;
                    if (data.gender == 1) {
                        pic1.src = '../../static/images/male-gender.png'
                    } else if (data.gender == 2) {
                        pic1.src = '../../static/images/femenine.png'
                    }
                }
            });
        }

        {#    ----------2----------    #}
        const surname_name2 = document.getElementById('surname_name2');
        const given_name2 = document.getElementById('given_name2');
        const father_name2 = document.getElementById('father_name2');
        const nationality2 = document.getElementById('nationality2');
        const date_of_birth2 = document.getElementById('date_of_birth2');
        const place_of_birth2 = document.getElementById('place_of_birth2');
        const genetics2 = document.getElementById('genetics2');
        const pic2 = document.getElementById('pic2');

        {#console.log("rgegr")#}
        const input_jshshir2 = document.getElementById('jshshir2');

        input_jshshir2.addEventListener('change', updateValue2);
        console.log(input_jshshir2)

        function updateValue2(e) {

            let jshshir2 = e.target.value
            let formData = new FormData();
            formData.append("jshshir", jshshir2);

            let url = "{% url 'main:get_person' %}";

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                processData: false,
                contentType: false,
                method: 'POST',
                data: formData,
                success: function (data) {
                    console.log(data)
                    surname_name2.innerHTML = data.surname_name;
                    given_name2.innerHTML = data.given_name;
                    father_name2.innerHTML = data.father_name;
                    nationality2.innerHTML = data.nationality;
                    date_of_birth2.innerHTML = data.date_of_birth;
                    place_of_birth2.innerHTML = data.place_of_birth;
                    genetics1.innerHTML = data.genetics;
                    if (data.gender == 1) {
                        pic2.src = '../../static/images/male-gender.png'
                    } else if (data.gender == 2) {
                        pic2.src = '../../static/images/femenine.png'
                    }
                    console.log("sgrwdgs")
                }
            });
        }

    </script>
{% endblock %}