{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="{% static '/images/icon.png' %}"/>
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/main-style.css' %}" rel="stylesheet">

    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>
    <script src="{% static '/js/plugins/jquery.js' %}"></script>
    <script src="{% static 'plugins/validation/validate.min.js' %}"></script>

</head>

<body id="kt_body" class="header-extended header-fixed header-tablet-and-mobile-fixed">

<form id="langForm" action="{% url 'set_language' %}" method="post" style="display: none">
    {% csrf_token %}
    <input id="next" name="next" type="hidden" value="{{ redirect_to }}">
    <input id="language" name="language" type="text" type="hidden" value="">
</form>

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand d-flex justify-content-center align-items-center">
            <div class="icon">
                <img src="../static/images/icon.png" width="80">
            </div>
        </a>
        <form class="d-flex">
            <select class="form-select me-3" aria-label="Default select example">
                <option value="1">ru</option>
                <option value="2">uz</option>
                <option value="3">eng</option>
            </select>
            <button class="btn btn-outline-primary" type="submit">Go</button>
        </form>
    </div>
</nav>

{% block main %}
{% endblock %}
</body>
</html>
