{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="{% static '/images/icon.png' %}"/>
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/css/main-style.css' %}" rel="stylesheet">


    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>
    <script src="{% static '/js/plugins/jquery.js' %}"></script>
    <script src="{% static 'plugins/validation/validate.min.js' %}"></script>
</head>

<body id="kt_body" class="header-extended header-fixed header-tablet-and-mobile-fixed">

<form id="langForm" action="{% url 'set_language' %}" method="post" style="display: none">
    {% csrf_token %}
    <input id="next" name="next" type="hidden" value="{{ redirect_to }}">
    <input id="language" name="language" type="text" type="hidden" value="">
</form>

<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand d-flex justify-content-center align-items-center">
            <div class="icon">
                <img src="../static/images/icon.png" width="80">
            </div>
        </a>
        <div class="header-right">
            <div class="header-lang">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" id="dropdownLang" data-toggle="dropdown">
                        {% get_current_language as LANGUAGE_CODE %}
                        {{ LANGUAGE_CODE }}
                    </button>
                    <div id="dropdown-lng" class="dropdown-menu" aria-labelledby="dropdownLang">
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            {% if language.code == LANGUAGE_CODE %}

                            {% else %}
                                <a class="dropdown-item changeLang" data-lang="{{ language.code }}"
                                   href="#">{{ language.code }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

{% block main %}
{% endblock %}

<nav id="foot" class="navbar navbar-light bg-light footer mt-5">
    <div class="container d-flex justify-content-center align-items-center">
        <a class="navbar-brand">
            <div class="icon">
                <img src="../static/images/icon.png" width="180">
            </div>
        </a>
    </div>
</nav>


<script>
    $(".changeLang").click(function (event) {
        event.preventDefault();
        console.log($(this).data('lang'))
        $("#language").val($(this).data('lang'));
        $("#langForm").submit();
    });

    const dropdownLang = document.getElementById('dropdownLang');
    const dropdown_lng = document.getElementById('dropdown-lng');

    dropdownLang.addEventListener("mouseout", lng_hover_m);
    dropdownLang.addEventListener("mousemove", lng_hover);

    function lng_hover() {
        dropdown_lng.classList.add('show')
    }

    function lng_hover_m() {
        setTimeout(() => {
          dropdown_lng.classList.remove('show')
        }, "2000")

    }
</script>

</body>
</html>
